.card-width {
  width: 10rem;
  height: 10rem;
}
.border-shadow {
  border-radius: 6px;
  border: 1px solid var(--branding-success-dark, #2c742f);
  background: var(--gray-scale-white, #fff);

  /* Hover Shadow */
  box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
}
.border-shadow-rest {
  border-radius: 6px;
  border: 1px solid #ededed;
  background: var(--gray-scale-white, #fff);
}
.image {
  margin-left: 35px;
}
@media screen and (max-width: 768px) {
  .margin-lefft {
    /* margin-left: 20px; */
    align-items: center;
    align-content: center;
    margin-left: 100px;
  }
}
